Package: COM.YOURNAME.PROJECTNAME
Name: NAME OF THE PROJECT
Version: X.X
Architecture: iphoneos-arm
Description: DESCRIPTION OF THE PROJECT
Homepage: YOUR HOMEPAGE
Maintainer: YOUR NAME <YOUR EMAIL>
Author: YOUR NAME <YOUR EMAIL>
Section: CREATE YOUR OWN (OR OFFICIAL CYDIA ONES)
Priority: extra
Installed-Size: THE SIZE AFTER YOU RUN 1.COMMAND
